<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <style>
      {% block style %}{% endblock style %}
    </style>
   <link rel="stylesheet" href="{% static "css/styles.css" %}" />
   {% block link %}{% endblock link %}
    <meta charset="UTF-8">
    <title>{% block title%}Title{% endblock title %}</title>
</head>
<body>
   <header class = "header">
       <a href="/" class="alogo"><div class="logo"><h4>Fly Easy</h4></div></a>
       <div class="log">{% block log %}{% endblock log %}</div>
   </header>
    <container>{% block content%}{% endblock content %}</container>
    <footer><p>{% now "N j, Y, P" %}</p></footer>
</body>
</html>