{% extends "base.html" %}
{% block title %}Fly Easy{% endblock title %}
{% block log%}
    <div id="prof"> <a href="profile"><img src="{% if user.ExtraUser.avatar == None %}
    {% load staticfiles %}
    {% static "img/face.jpg" %}
    {% else %}
   {{ user.ExtraUser.avatar.url }}
{% endif %}">{{user.username}}</a> <a href="logout">Выйти</a></div>
<span id="error">{{log}}</span>
{% endblock log %}
{% block content%}
    {% if form  != None %}
    <form method="POST">
    {% csrf_token %}
        {{form}}
        <input value="найти" type="submit">
    </form>
    <script>document.getElementById("id_ddt").type="date";</script>
    {% else %}
 <table>
        <tr>
    <th>Время вылета</th><th>Время прибытия</th><th>Место выета</th><th>Место посадки</th>
  </tr>
    {% for element in data %}
       <tr>
       <td>{{ element.dep_time }}</td><td>{{ element.arr_time }}</td><td>{{ element.dep_point }}</td><td>{{ element.arr_point }}</td>
       </tr>
    {% endfor %}
        </table>
    {% endif %}
{% endblock content %}